form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 250px;
    background-color: #686767;
    border-radius: 10px;
    width: 600px;
    height: 900px;
    margin: 350px;
    font-size: 40px
}  

.nome {
    text-align: left;
    text-align: 100px;
}

body {
    margin:100px;
    border: 100px; background-color: antiquewhite;
}

